<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celesky.zpub.mapper.PublishLogMapper" >


    <select id="queryByServiceName" resultType="com.celesky.zpub.entity.PublishLog" parameterType="map">
        select * from publish_log where service = #{serviceName} order by create_time desc limit 10
    </select>
</mapper>